#submit{
    width:"150px";
    height:"50px";
    background: linear-gradient(to bottom, #0160E7,#053480 );
    margin-top: 50px;
    color: white;
}
#Technology-focus-grid{     
     background: white !important;
     width: 320px;
     height: 300px;
     display: flex;
     align-items: center;
     justify-content: center;
    
}

@media (max-width:1525px) {
    #aboutsectionimg{
        height:380px;
    }
}

@media (max-width:1320px) {
    #aboutsectionimg{
        height:290px;
    }
    #typography{
        font-size: 15px;
    }
   
}

/* form contorl */
@media (max-width:768px) {
    #form-control {
        box-shadow: none !important;
        width: 100%;
    }
    .about-typography{
         width: 600px;
    }
    #aboutsectiontypo {
        width: 100%!important;
        padding: 0%;
        margin: 0%;
    }
    #aboutsectionimg{
        height:420px;
        margin-bottom: 10px;
    }
}

@media (max-width:576px) {
    #aboutsectionimg {
        width: 450px;
        margin-top: 0px;
        padding-top: 0%;
    }

   

    #team {
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* form section */
@media (max-width:480px) {
    #form-control {
        width: 350px;
        padding: 10px;
    }
    #aboutsectionimg {
        width: 350px;
        margin-top: 0px;
        padding-top: 0%;
    }
}



/* someour work2 */
@media (max-width:420px) {
    #heading {
        text-align: center;
    }

    #heading2 {
        font-size: 15px;
        padding: 15px 30px;
        margin: 10px;

    }

    #card {
        width: 320px;
        margin: 20px;
    }
    #form-control {
        width: 350px;
        padding: 10px;
    }
    #aboutsectionimg {
        width: 350px;
        margin-top: 0px;
        padding-top: 0%;
    }
  
}


@media (max-width:375px) {
    #aboutsectionimg {
        height: 230px;
        margin-top: -50px;
        margin-bottom: 10px;
    }

    #about-soham {
        font-size: 25px;
    }
    
    #sir {
        width: 250px;
    }
    #heading2 {
        font-size: 15px;
        padding: 15px 30px;
    }

    #cardnew {
        width: 260px;
        margin: 20px;
        height: 420px;
    }
}

@media (max-width:320px) {
    #form-control {
        width: 300px !important;
        padding: 10px;
    }
    
    #heading2 {
        font-size: 15px;
        padding: 15px 30px;
    }

    #cardnew {
        width: 260px;
        margin: 20px;
        height: 420px;
    }
}