.blogsimg{
  background-size: cover;
  object-fit: cover;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
}

#blog-card{
  max-width: 500px;
  height: 700px;
  margin: 8px;
}

.card-heading{
    font-weight: 550 !important;
    color: #053480;
    line-height:25px !important ;
    font-size: 22px;
    margin-bottom: 10px;
    max-width: 400px;
}

.card-typography{
  font-size: 16px !important;
  line-height: 34px !important;
  padding-top: 16px !important;
}

.view-more{
  background: linear-gradient(to bottom, #0160E7, #053480);
  font-size: 15px;
  width: 200px;
  color: white!important ;
}


@media (max-width:480px) {
  
  .card-typography{
    font-size: 16px !important;
    line-height:34px !important;
    padding-top: 10px !important;
  }
  .blogsimg{
        height: 282px;
     }
}

@media (max-width:420px) {
  #blog-card{
      height: 600px;
  }
  .card-typography{
    font-size: 16px !important;
    line-height:25px !important;
    padding-top: 5px !important;
  }
  .blogsimg{
        height: 250px;
     }
}



@media (max-width:375px) {
  #blog-card{
      height: 600px;
  }
  .card-typography{
    font-size: 15px !important;
    line-height:23px !important;
    padding-top: 5px !important;
  }
  .blogsimg{
        height: 270px;
     }
}


@media (max-width:325px) {
  #blog-card{
      height: 630px;
  }
  .card-typography{
    font-size: 15px !important;
    line-height:22px !important;
    padding-top: 5px !important;
  }
  .blogsimg{
        height: 190px;
     }
}