
#heading-child {
  color: #053480;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 35px;
} 

.blog-pading-top {
  padding-top: 10px;
}
.categories-box {
  width: 300px;
  margin: 1rem 0px;
  height: 170px;
  border: 3px solid #053480;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 35px;
  color: #053480;
}
.box-image{
     height:100%;
     object-fit: cover;
     overflow: hidden;
}
