.map-img {
    background-size: cover;
    background-position: "center";
    object-fit: cover;
  
}

.GETINTOUCH2 {
    background: linear-gradient(to bottom, #0160E7, #053480);
    border-radius: 0 18px 18px 0px;
}

@media (max-width:1350px) {
    .GETINTOUCH {
        width: 100%;
      
          }

    .GETINTOUCH1 {
        width: 100%;
    }

    .GETINTOUCH2 {
        border-radius: 17px;
        
    }
}


@media (max-width:610px) {
    #boxShadow {
        box-shadow: none;
    }
}

@media (max-width:480px) {
    .GETINTOUCH {
        width: 100%;
    }

    .GETINTOUCH1 {
        width: 100%;
    }

    .GETINTOUCH2 {
        width: 100% !;
        margin: 0%;
        padding: 0%;
        
    }

    .css-1evx3p9 {
        width: 480px !important;
    }
}

@media (max-width:420px) {
    .GETINTOUCH {
        width: 100%;
    }

    .GETINTOUCH1 {
        width: 100%;
    }

    .GETINTOUCH2 {
        width: 100% !;
        margin: 0%;
        padding: 0%;
        
    }

    .css-1evx3p9 {
        width: 100% !important;
    }
}

@media (max-width:375px) {
    .GETINTOUCH {
        width: 100%;
    }

    .GETINTOUCH1 {
        width: 100%;
    }

    .GETINTOUCH2 {
        width: 100% !;
        margin: 0%;
        padding: 0%;
        
    }

    .css-1evx3p9 {
        width: 100% !important;
    }
   
}

@media (max-width:320px) {
      .GETINTOUCH {
        width: 100%;
    }

    .GETINTOUCH1 {
        width: 100%;
    }

    .GETINTOUCH2 {
        width: 100% !;
        margin: 0%;
        padding: 0%;
        
    }

    .css-1evx3p9 {
        width: 100% !important;
    }
}