.map-img {
    background-size: cover;
    background-position: "center";
    object-fit: cover;
    width: 100%;

}

.categories-box {
    width: 380px;
    margin: 1rem 0px;
    height: 350px;
    border: 5px solid #053480;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 35px;
    color: #053480;
}

.GETINTOUCH2 {
    background: linear-gradient(to bottom, #0160E7, #053480);
    border-radius: 0 18px 18px 0px;
}

@media (max-width:1800px) {
    .categories-box {
        width: 320px;
        height: 280px;
        font-size: 30px;
    }
}

@media (max-width:1600px) {
    .categories-box {
        width: 250px;
        height: 220px;
        font-size: 25px;
    }
    #send-us-message{
font-size: 40px;
    }
}


@media (max-width:1350px) {
    .GETINTOUCH {
        width: 100%;

    }

    .GETINTOUCH1 {
        width: 100%;
    }

    .GETINTOUCH2 {
        border-radius: 17px;
    }
    .categories-box {
        width: 200px;
        height: 180px;
        font-size: 25px;
    }
    #send-us-message{
        font-size: 35px;
            }
}


@media (max-width:610px) {
    #boxShadow {
        box-shadow: none !important;
    }
}
@media (max-width:576px) {
    .GETINTOUCH {
        width: 80% !important;
        margin:auto;
    }
    .css-1cu5i81{
        padding: 0%!important;
    }
    .GETINTOUCH2 {
       margin-top: 20px;

    }
}




@media (max-width:480px) {
    .GETINTOUCH {
        width: 100%;
    }

    .GETINTOUCH1 {
        width: 100%;
    }

    .GETINTOUCH2 {
        width: 100% !;
      

    }

    .css-1evx3p9 {
        width: 480px !important;
    }
    #categories{
       
        display: flex;
        align-items: center;
        justify-content: center;
    }
     
.categories-box {
    width:250px;
   height: 250px;
   
}
}

@media (max-width:420px) {
    .GETINTOUCH {
        width: 100%;
    }

    .GETINTOUCH1 {
        width: 100%;
    }

    .GETINTOUCH2 {
        width: 100% !;
      

    }

    .css-1evx3p9 {
        width: 100% !important;
    }
}

@media (max-width:375px) {
    .GETINTOUCH {
        width: 100%;
    }

    .GETINTOUCH1 {
        width: 100%;
    }

    .GETINTOUCH2 {
        width: 100% !;
     

    }

    .css-1evx3p9 {
        width: 100% !important;
    }

}

@media (max-width:320px) {
    .css-jlj68f{
        width: 50%;
    }
    .GETINTOUCH {
        width: 50%;
       
      
    }

    .GETINTOUCH1 {
        width: 50%;
    }

    .GETINTOUCH2 {
        width: 50% !;
    

    }

    .css-1evx3p9 {
        width: 50% !important;
    }
 
}