
body{
    display: block !important;
    background-color: white! important;
}

#heading-1 {
    font-weight: 700;
    color: #053480;
    text-align: center;
    font-size: 45px;
    padding: 4rem 0rem;
}

#unlocking {
    color: #053480;
    font-weight: 600;
    font-size: 35px;

    width: 400px;
}

#pregraph {
    color: #053480;
    line-height: 1.8rem;
}

h2 {
    margin: 10px 0px;
}

.singleblogpage-man1 {
    width: 100%;
}

.sigleblog-second {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;

}

.singleblogpage-man {
    width: 65%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
}
#about-background{
     width: 60%;    
         margin: auto;
}
.singlepage-section2{
    width: 95%;

}
.singleblogpage-man2 {
    width: 815px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 3rem;
    background-color: yellow;
}

.singleblogpage-man11 {
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.singleblogpage-img {
    width: 96.2%;


}

.categoriess {
    margin: 1rem 0rem;
    color: #053480;
    display: flex;
    height: 100%px;
    width: 500px;
    align-items: start;
    flex-direction: column;
}

#unlocking-img {
    width: 60%;
}

#blog-heading {
    color: #053480;
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0px;
}

#categorie-heading {
    font-weight: 600;
    color: #053480;
    font-size: 25px;
}

#card-heading {
    font-size: 18px;
    margin: 18px 0px;
    font-weight: 500;

}


@media (max-width:1600px) {
    .singleblogpage-man11 {
        width: 80%;
    }

    #heading-1 {
        font-size: 35px;
        padding: 2rem 0%;
    }

    #unlocking {
        font-size: 28px;
        width: 300px;
    }

    #blog-heading {
        font-size: 20px;
        margin: 10px 0px;
    }

    #categorie-heading {
        font-size: 20px;
    }

    #card-heading {
        font-size: 16px;
        margin: 11px 0px;

    }

}

@media (max-width:1200px) {
    .singleblogpage-man11 {
        width: 80%;
    }

    #heading-1 {
        font-size: 30px;
        width: 100%;

    }

    .categoriess {
        width: 200px;
    }
    #blog-heading {
        font-size: 18px;
    }
    #categorie-heading {
        font-size: 17px;
    }

    #card-heading {
        font-size: 15px;
        margin: 10px 0px;

    }


}

@media (max-width:1080px) {
    .singleblogpage-man11 {
        width: 80%;
    }

    #heading-1 {
        font-size: 25px;
        width: 100%;

    }

    #pregraph {
        font-size: 15px;
    }
    #card-heading {
        
        margin: 18px 0px;

    }


}


@media (max-width:800px) {
    #card-heading {
                margin: 10px 0px;

    }
}

@media (max-width:750px) {
    .sigleblog-second {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;

    }
    
#about-background{
    width: 85%;    
}
.singlepage-section2{
   width: 100%;

}
.singleblogpage-img {
    width: 96%;

}
.singleblogpage-man{
    width: 85%;
}


    #unlocking-child {
        width: 100%;
        font-size: 20px;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        margin: 5px;
    }

    #unlocking {
        width: 100%;
        font-size: 20px;
        margin-top: 100px;
    }
  


    #unlocking-img {
        width: 100%;
        height: 100%;
        margin-top: 10PX;

    }

    .singleblogpage-man11 {
        width: 100%;
        margin-top: 50px;
    }
  

    #categorie-heading {
        font-size: 22px;
    }
    #blog-heading {
        font-size: 20px;
    }
    #card-heading {
        font-size: 20px;

    }

    #heading-1 {
        font-size: 22px;
        width: 100%;

    }
     /* #heading-1 {
        font-size: 22px;
        width: 80%;

    } */

    #unlocking {
        width: 100%;
        font-size: 20px;
        margin-top: 60px;
    }

    #pregraph {
        word-break: break-all;
    }

    #date-title {

        font-size: 22px !important;
        width: 100% !important;

    }

    .categoriess {
        height: 350px;
        width: 300px;
        margin-bottom: 50px;
    }
    /* .categoriess {
        height: 400px;
        width: 200px;
    } */

    .all-pg420 {
        width: 100%;
    }
}

@media (max-width:480px) {
    #unlocking-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #categorie-heading {
        font-size: 16px;
    }

    #card-heading {
        font-size: 14px;
        margin: 2px 0px;

    }

    #unlocking {
        width: 100%;
        font-size: 20px;
        margin-top: 0px;
    }


    .categoriess {
        height: 350px;
        width: 100%;
        margin-bottom: 0px;
    }

    #date-title {
        font-size: 16px !important;
        width: 100% !important;
    }

    #unlocking-img {
        width: 100%;
        height: 100%;

    }
}

@media (max-width:375px) {
    #heading-1 {
        font-size: 20px;
        width: 100%;
    }

    #pregraph {
        word-break: break-all;
    }

    #unlocking-img {
        width: 100%;
        height: 120px;
    }

    .all-pg420 {
        width: 100%;
    }

}