@media (max-width:1550px) {
    .singleblogpage-man {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }

    .singleblogpage-man1 {
        width: 1000px !important;


    }

    .singleblogpage-man11 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* flex-direction: column; */
    }

    .singleblogpage-man2 {
        width: 1000px;

    }

    .singleblogpage-img {
        width: 1200px;
        height: 600px;
    }

    .singlepage-section2 {
        width: 1100px !important;
    }
}

@media (max-width:1300px) {
    .singleblogpage-man {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }

    .singleblogpage-man1 {
        width: 1000px !important;
      

    }

    .singleblogpage-man11 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* flex-direction: column; */
     

    }

    .singleblogpage-man2 {
        width: 1000px;
      

    }

    .singleblogpage-img {
        width: 1000px;
        height: 600px;
    }

    .singlepage-section2 {
        width: 900px !important;
    }
}

@media (max-width:1100px) {

    .singleblogpage-img {
        width: 900px;
        height: 600px;
    }

    .singlepage-section2 {
        width: 900px !important;
    }
}

@media (max-width:768px) {
    .singleblogpage-man1 {
        width: 750px !important;


    }

    .singleblogpage-img {
        width: 630px;
        height: 400px;
    }

    .singlepage-section2 {
        width: 600px !important;
    }
}






@media (max-width:1100px) {

    .singleblogpage-img {
        width: 900px;
        height: 600px;
    }

    .singlepage-section2 {
        width: 900px !important;
    }
}

@media (max-width:768px) {
    .singleblogpage-man1 {
        width: 750px !important;


    }

    .singleblogpage-img {
        width: 630px;
        height: 400px;
    }

    .singlepage-section2 {
        width: 600px !important;
    }
}



@media (max-width:576px) {
    .singleblogpage-man1 {
        width: 450px;


    }

    .singleblogpage-img {
        width: 450px;
        height: 250px;
    }

    .singlepage-section2 {
        width: 450px !important;
    }

    .singleblogpage-man11 {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
    }
}


@media (max-width:480px) {
    .singleblogpage-man1 {
        width: 380px;


    }

    .singleblogpage-img {
        width: 400px;
        height: 250px;
    }

    .singlepage-section2 {
        width: 380px !important;
    }

    .singleblogpage-man11 {
        width: 380px !important;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
    }

    .unlocking {
        width: 380px;
    }

    .unlocking-child {
        width: 380px;
    }
}

@media (max-width:420px) {
    .singleblogpage-man {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }

    .singleblogpage-man1 {
        width: 400px !important;


    }

    .singleblogpage-man11 {
        display: flex;
        align-items: start;
        justify-content: space-between;
        /* flex-direction: column; */
    }

    .singleblogpage-man2 {
        width: 350px !important;


    }

    .singleblogpage-img {
        width: 350px;
        height: 200px;
    }

    .singlepage-section2 {
        width: 330px !important;
    }
}


@media (max-width:375px) {
    .singleblogpage-man {
        width: 300px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }

    .singleblogpage-man1 {
        width: 300px !important;


    }

    .singleblogpage-man11 {
        width: 300px !important;
        display: flex;
        align-items: start;
        justify-content: space-between;
      
    }

    .singleblogpage-man2 {
        width: 300px !important;


    }

    .singleblogpage-img {
        width: 300px;
        height: 180px;

    }

    .singlepage-section2 {
        width: 300px !important;

    }
    
    .unlocking {
        width: 300px;
       
    }

    .unlocking-child {
        width: 300px;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }
  

}


@media (max-width:320px) {
    .singleblogpage-man {
        width: 250px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }

    .singleblogpage-man1 {
        width: 250px !important;


    }

    .singleblogpage-man11 {
        width: 250px !important;
        display: flex;
        align-items: start;
        justify-content: space-between;
      
    }

    .singleblogpage-man2 {
        width: 250px !important;


    }

    .singleblogpage-img {
        width: 250px;
        height: 180px;

    }

    .singlepage-section2 {
        width: 250px !important;

    }
    
    .unlocking {
        width: 250px !important;
    
    }

    .unlocking-child {
        width: 240px;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
       
    }
  

}