
.sc-beySPh div {
    display: flex;
}

.sc-dmyCSP svg{
     width:60px;
     display: flex;
     padding-left: 20px;
}
.sc-guDLey{
    display: flex;
    align-items: center;
    margin-left: 0%;

}
