.our-utality-p {
    width: 70%;
}



@media (max-width:768px) {
    #web-devlopment {
        width: 100%;
    }

    #web-devlopment-child {
        width: 100%;
    }

    #web-devlopment-img {
        height: 70px;
    }

    #web-devlopment-typo {
        font-size: 22px;
        width: 200px;
    }

    .our-utality-p {
        width: 700px;

    }
}


@media (max-width:576px) {

    .our-utality-p {
        width: 450px;
    }
}

@media (max-width:420px) {

    .our-utality-p {
        width: 380px;
    }
}


@media (max-width:375px) {
    .our-utality-p {
        width:90%;
    }

    #web-devlopment-img {
        height: 50px;
    }

    #web-devlopment-typo {
        font-size: 16px;
        width: 120px;
        

    }
}