    .size-img {
    /* width: 220px; */
    /* height: 70px; */
    margin: 20px;
   
}


#want {
    background: linear-gradient(to bottom, #053480, #0160E7);
    box-shadow: 0px 0px 10px 0px #ffffff;
}

@media (max-width:1600px) {
    .size-img {
        width: 140px;
        height: 60px;
        margin: 10px;
       
    }
}


@media (max-width:1200px) {
    .size-img {
        width: 100px;
        height: 60px;
        margin: 10px;
       
    }
}


@media (max-width:480px) {
    #want {
        height: auto;
        padding: 20px;
    }

    .size-img {
        width: 190px;
        height: 80px;
        margin-top: 1%;
        margin-bottom: 1%;
        }
        #partner-centert{
            width: 50%;
            display: "flex";
            align-items: center;
            justify-content: "center";
            margin: auto;
            padding-top: 10px;
           
        }

}

@media (max-width:700px) {
    #life-soham {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}