.work {
    background-color: #E6edf3;
}

.work-background {
    background: url(../../assets/work/bg.svg);
    object-fit: cover;
    background-repeat: no-repeat;


}

#view-work {
    width: 170px;
    height: 40px;
    font-size: 17px;
    display: flex;
    border: 1px solid #053480;
    color: #053480;
    margin: 5px;
    padding: 5px 0px;
}

#view-work:hover {
    background-color: #053480;
    color: white;
    border: none;
}

.ludo-earn-p {
    align-items: center;
    font-size: 14px !important;
    padding: 1.2rem;
    color: #053480;
    text-align: center;
}

#heading {
    padding: 1px;
}

#card {
    position: relative;
    border: 1px solid #053480;
    background-color: white;
    z-index: 0;
    text-align: center;
    margin: 15px;
    width: 420px;
    height: 500px;
    padding: 1rem;
    flex-direction: column;




    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        transition: width 0.5s ease, height 0.5s ease;
        z-index: -1;
    }

    &::before {
        top: -5px;
        left: -5px;
        border-top: 1px solid #053480;
        border-left: 1px solid #053480;
    }

    &::after {
        right: -5px;
        bottom: -5px;
        border-bottom: 1px solid #053480;
        border-right: 1px solid #053480;
    }

    &:hover::before,
    &:hover::after {
        width: calc(100% + 9px);
        height: calc(100% + 9px);
    }
}

@media (max-width:1780px) {
    #card {
        width: 350px;
        padding: 0%;
        padding-bottom: 10px;
    }

    #view-work {
        margin: 0px;
        width: 150px;
        height: 35px;
        font-size: 15px;
    }

    .ludo-earn-p {
        padding: 1rem;
    }
}



@media (max-width:1500px) {
    #card {
        width: 320px;
        height: 450px;
        padding: 5px;
        padding-bottom: 10px;
        margin: 15px;
    }

    #view-work {
        margin: 0px;
        width: 130px;
        height: 28px;
        font-size: 12px;
    }

    .card-heading {
        font-size: 22px !important;
    }

    .ludo-earn-p {
        padding: 10px;
        font-size: 10px !important;
    }
}

@media (max-width:1320px) {

    #card {
        width: 280px;
        height: 380px;
        padding: 5px;
        padding-bottom: 10px;
        margin: 10px;
    }
  
   
}

@media (max-width:1130px) {
    #card {
        width: 250px;
        height: 380px;
        padding: 5px;
        padding-bottom: 10px;
        margin: 10px;
    }
  
   
}

@media (max-width:480px) {


    #card {
        width: 300px;
        height: 400px;
        padding: 5px;
        padding-bottom: 0px;
        margin: 15px;
    }

    #view-work {
        margin: 0px;
        width: 130px;
        height: 28px;
        font-size: 12px;
    }

    .card-heading {
        font-size: 18px !important;
    }

    .ludo-earn-p {
        padding: 8px;
        font-size: 10px !important;
    }
}

@media (max-width:375px) {
    #card {
        width: 380px;
        height: 380px;
        padding: 5px;
        padding-bottom: 10px;
        margin: 15px;
    }

    #view-work {
        margin: 0px;
        width: 130px;
        height: 28px;
        font-size: 12px;
    }

    .card-heading {
        font-size: 18px !important;
    }

    .ludo-earn-p {
        padding: 5px;
        font-size: 10px !important;
    }

}