#work {
    background-color: #E6edf3;
}

#work-background {
    background: url(../../assets/work/bg.svg);
    object-fit: cover;
    background-repeat: no-repeat;

}

#view-work {
    width: 170px;
    height: 40px;
    font-size: 17px;
    display: flex;
    border: 1px solid #053480;
    color: #053480;
    margin: 5px;
}

#view-work:hover {
    background-color: #053480;
    color: white;
    border: none;
}

#heading {
    padding: 1px;
}

#card {
    position: relative;
    border: 2px solid #053480;
    background-color: white;
    z-index: 0;


    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        transition: width 0.5s ease, height 0.5s ease;
        z-index: -1;
    }

    &::before {
        top: -10px;
        left: -10px;
        border-top: 2px solid #053480;
        border-left: 2px solid #053480;
    }

    &::after {
        right: -10px;
        bottom: -10px;
        border-bottom: 2px solid #053480;
        border-right: 2px solid #053480;
    }

    &:hover::before,
    &:hover::after {
        width: calc(100% + 9px);
        height: calc(100% + 9px);
    }
}

@media (max-width:480px) {

    #card {
        width: 380px;
        margin-bottom: 20px;
    }

    #view-work {
        width: 150px;
        height: 33px;
        font-size: 15px;
        margin: 0%;
     }
}

@media (max-width:420px) {

    #card {
        width: 400px;
        margin: 20px;
    }
    #work-margin{
        margin: 0%;
    }
    #ludo-earn-p{
        width:300px;
        margin: 0%;
        padding: 5%;
    }
    #view-work {
       width: 140px;
       height: 30px;
       font-size: 15px;
       margin: 0%;
    }
    
}

@media (max-width:375px) {
    #heading {
        font-size: 35px;

    }
}

@media (max-width:320px) {
    #heading {
        font-size: 35px;
    }

    #card {
        width: 280px !important;
        margin: 20px;
        height: 500px;
    }
}